# Module 1 Discussion Grading - Peer Evaluation Grade Calculation
Jing Jiang

2021-10-14

## Objective

The objective of this file is calculate the average peer-evaluation score for each student.

## Data Description

Excel files downloaded from Canvas were used. Some students submitted files in other formats, such as a screenshot, a PDF, a Macbook Numebers. These files were excluded. Some students submtited Excel files, but changed the format of the table. It's adjusted mannually. 

Submissions with wrong group numbers (such as Group number = 10). These are excluded.

In [1]:
cd C:\Users\jillb\OneDrive - UBC\CONS 302 TA 2021Fall\grading\Module 1 peer evaluation files\20211014

C:\Users\jillb\OneDrive - UBC\CONS 302 TA 2021Fall\grading\Module 1 peer evaluation files\20211014

In [2]:
import os
import glob

os.chdir(r'C:\Users\jillb\OneDrive - UBC\CONS 302 TA 2021Fall\grading\Module 1 peer evaluation files\20211014')
FileList = glob.glob('*.xlsx')

In [3]:
import pandas as pd

Loop through all Excel files, append all rows together (Columns should be the same)

In [4]:
# create for loop
df = pd.DataFrame()
for File in FileList:
         df = df.append(pd.read_excel(File), ignore_index=True)

In [5]:
cd C:\Users\jillb\OneDrive - UBC\CONS 302 TA 2021Fall\grading\Module 1 peer evaluation files

C:\Users\jillb\OneDrive - UBC\CONS 302 TA 2021Fall\grading\Module 1 peer evaluation files

In [6]:
df.to_excel('calculated_weight.xlsx', sheet_name='Sheet1', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, merge_cells=True, encoding=None, inf_rep='inf', verbose=True, freeze_panes=None, storage_options=None)

Note:

Many repetitive columns occurred because some students changed the column names.

Some repetitive columns occured because some students did not delete the sample names "ABCDEFG".

In [7]:
cd C:\Users\jillb\OneDrive - UBC\CONS 302 TA 2021Fall\grading\Module 1 peer evaluation files

C:\Users\jillb\OneDrive - UBC\CONS 302 TA 2021Fall\grading\Module 1 peer evaluation files

In [8]:
df_new = pd.read_excel('ï¼ˆadjusted) calculated_weight.xlsx')

In [9]:
df_new = df_new.iloc[:,1:4]

In [10]:
# Some students made a typo in the column name. And it was sorted to the top.
df_new.rename(columns={"Goup Number": "Group Number"} ,errors="raise", inplace = True)

# Make name values lower case
df_new['Participant Name'] = df_new['Participant Name'].astype(str).str.lower()

In [11]:
# Convert data type of "Participant Name" from object to string 
df_new['Participant Name'] = df_new['Participant Name'].astype('|S')

In [12]:
df_new = pd.DataFrame(df_new)

In [13]:
df_grouped = df_new.groupby('Participant Name')

In [15]:
mean_df = df_grouped.mean(df_grouped['Peer-Review Score'])

DataError: No numeric types to aggregate

In [ ]:
df_grouped = df_new.groupby('Participant Name')['Peer-Review Score'].mean().sort_values('Peer-Review Score')

In [ ]:
df_new['Peer-Review Score'].fillna('')

In [16]:
df_new['Peer-Review Score'].describe()

count     184
unique      6
top         5
freq      153
Name: Peer-Review Score, dtype: int64

In [ ]:
df_new['Peer-Review Score'] = df_new['Peer-Review Score'].astype(float)

In [ ]:
df_grouped.head()

In [ ]:

df_grouped = df_new.groupby(['Participant Name'])['Peer-Review Score'].mean().sort_values('Peer-Review Score')

In [ ]:
# Make the same table again but include only orders where the total number of items (eg: total quantity for the order) was 10 items or fewer.

temp3 = df3.groupby(['Country', pd.Grouper(key='Invoice')])['invoice_item_value','Quantity'].sum() #the value of all items and the quantity of all items in an invoice
temp3 = pd.DataFrame(temp3)
temp3 = temp3[temp3['Quantity'] < 11] #"Quantity" here represents the total number of items in an invoice
temp4 = temp3.groupby(['Country'])['invoice_item_value','Quantity'].mean().sort_values('invoice_item_value') #"Quantity" here represents the average quantity per invoice in the subset
temp4 = pd.DataFrame(temp4)
temp4.rename(columns={'invoice_item_value':'Average Invoice Value'})

In [ ]:
df_new.groupby('Participant Name',as_index = False)['Peer-Review Score'].mean()

In [ ]:
df_new['Peer-Review Score'].groupby(['Participant Name']).mean()

In [ ]:
df_new['Participant Name'].describe()

Data cleaning in python is a mess.

Too tired.

Gave up and used Excel pivot table to do matrices calculation instead.